<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/accueilAdmin.css">
    </head>
    <body>
        <nav>
            <img src="../assets/img/logo.png" alt="logo">
            <ul>
                <li class="hover"><a href="#" >Accueil</a></li>
                <li><a href="#">Planning</a></li>
                <li><a href="#">Prise de rendez-vous</a></li>
                <li><a href="#">Stock</a></li>
                <li><a href="#">Tarifs</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Deconnexion</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <a href="#">
                    <p>ajouter un client</p>
                    <img src="../assets/img/add-clients.png" alt="">
                </a>
            </article>    
            <article>
                <a href="#">
                    <p>modifier un client</p>
                    <img src="../assets/img/modify-clients.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Supprimer un client</p>
                    <img src="../assets/img/delete-clients.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Stock</p>
                    <img src="../assets/img/cartons.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Interventions</p>
                    <img src="../assets/img/outils.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Ajouter un rôle à un employé</p>
                    <img src="../assets/img/add-employe.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Modifier les rôles d'un employé</p>
                    <img src="../assets/img/modify-employe.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Supprimer un rôle à un employé</p>
                    <img src="../assets/img/remove-employe.png" alt="">
                </a>
            </article>
            <article>
                <a href="#">
                    <p>Tarifications</p>
                    <img src="../assets/img/caisse.png" alt="" id="caisse">
                </a>
            </article>
        </main>
    </body>
</html>