.interventionWindow{
    margin-top: 2%;
    height: 90%;
    width: 80%;
    background-color: var(--grey-color);
    border-radius: 15px;
    display: flex;
}

.hours{
    width: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.day{
    margin-top: 3%;
    width: 17%;
    margin-left: 2%;
    text-align: center;
}

.planningDayZone{
    background-color: var(--green-color);
    text-align: left;
    height: 90%;
}

.reservation{
    background-color: var(--grey-color);
    height: 12%;
    width: 2%;
    border-radius: 25px;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}



#popUpRDV {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}
#intoPopUpRDV {
    width: 1000px;
    height: 500px;
    padding: 15px;
    color: black;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #C0C0C0;
    border-radius: 15px;
}


#popUpRDV:target {display: block;}
.close {
    position:absolute;
    right:10px;
    top:10px;
    color: #121212;
    text-decoration: none;
    font-size: 18px;
    cursor:pointer;
    background-color: #4a4a4a;
    height: 1.1em;
    width: 1.1em;
    border-radius: 25px;
}

.typeIntevrentionZone{
    background-color: var(--green-color);
    height: 50%;
    width: 100%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.aIntervention{
    background-color: white;
    width: 80%;
    height: 20%;
    margin-top: 1%;
    margin-left: 5%;

    text-align: left;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.aIntervention p {
    margin-left: 2%;
    width: 70%;
}

.aIntervention img{

    width: 5%;
    height: 100%;
}


.validerIntervention{
    margin-top: 50px;
    height: 7%;
    width: 17%;
    background-color: var(--green-color);
    border:none;
    color: var(--white-color);
    font-size: 1.1em;
    border-radius: 8px;
}