.interventionWindow{
    margin-top: 2%;
    height: 90%;
    width: 80%;
    background-color: var(--grey-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choixPlanning{
    text-align: right;
}
.planing{
    display: flex;
    height: 100%;
    width: 100%;
}


.hours{
    width: 3%;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-right: -2%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.day{
    margin-top: 3%;
    width: 17%;
    margin-left: 2%;
    text-align: center;

}

.planningDayZone{
    background-color: var(--green-color);
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;

}

#popUpRDV {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}
#intoPopUpRDV {
    width: 1000px;
    height: 500px;
    padding: 15px;
    color: black;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #C0C0C0;
    border-radius: 15px;
}


#popUpRDV:target {display: block;}

.close {
    position:absolute;
    right:10px;
    top:10px;

    text-decoration: none;
    font-size: 18px;
    cursor:pointer;
    height: 1.1em;
    width: 1.1em;
    border-radius: 25px;
}

.typeIntevrentionZone{
    background-color: var(--green-color);
    height: 80%;
    width: 100%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
}

.aIntervention{
    background-color: white;
    width: 85%;
    height: 20%;
    margin-top: 1%;
    margin-left: 5%;
    text-align: left;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.aIntervention p {
    margin-left: 2%;
    width: 80%;
    align-self: center;
}

.plusAIntervention{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 1%;
}

.validerIntervention{
    margin-top: 2%;
    height: 7%;
    width: 17%;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: 1.1em;
    border-radius: 8px;
    border: 1px solid var(--green-color);
}

img.removeItem
{
    filter: invert(1);
}

img.removeItem:hover
{
    filter: invert(0);
    cursor: pointer;
}

.validerIntervention:hover
{
    border: 1px solid var(--white-color);
}

.close img{
    width: 100%;
}

.trenteMinutes{
    height: calc(100%/20);
    width: 100%;
}

.quinzeMinute{
    height: calc(100%/40);
    width: 100%;
}

section.choose
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    color: var(--white-color);
}

section.choose>h1
{
    text-align: center;
    color: var(--white-color);
}


form.selecteur, form.selecteur
{
    display: flex;
    align-items: center;
    align-self: center;
    height: 10%;
    width: 100%;
}

form.selecteur>section, form.selecteur>section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    text-align: center;
    width: 20%;
    background-color: var(--green-color);
    border-radius: 25px;
    border: 1px solid var(--white-color);
    margin-left: auto;
    margin-right: 1%;
    margin-top: 1%;
}

form.dateChoose
{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form.dateChoose>h1
{
    text-align: center;
}

form.dateChoose>input {
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    color: var(--white-color);
    padding: 3%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}

form.dateChoose>input:hover {
    border: 1px solid var(--white-color);
}


/* Calendar */
table
{
    margin: auto;
    border: 4px outset green;
    border-collapse: collapse;
    width:90%;
    height: 90%;
}

th
{
    background-color: #006600;
    color: white;
    font-size: 1.1em;
    border:1px solid red;
}

td
{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

td.time
{
    width:5%;
}

td:hover
{
    background-color: var(--green-color);
    color: var(--white-color);
}

td:hover> a
{
    color: var(--white-color);
}

.left
{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.left p
{
    text-align: center;
}

.right
{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}