.addClientWindow{
    width: 85%;
}

.sectionCenterAddClient{
    margin: 7%;
    height: 70%;
    background-color: var(--grey-color);
    border-radius: 8px;
}

.liste{
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-top: 20px;
}

.sousListe{
    margin-top: 0;
    margin-left: 20%;
    font-size: 0.7em;
}

.sousListeSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;

}



.sousListeSection p{
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 20px;
}

.hoverliSousList{
    background-color: #15FF39;

}

.hoverliSousList p{
    color:white;
}
.liste .aListeOptionAdmin{
    height: 20px;
    margin-top: 20px;
    font-size: 1.2em;

}
.aListeOptionAdmin p{
    margin-left: 10px;
}

.hoverli p{
    color: white;
}



.sectionCenterAddClient form{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
form h1{
    text-align: center;
    margin-left: -20%;
    margin-top: 1%;
    font-size: 1.5em;
}

.inputAddClient{
    display: flex;
}

.inputAddClient input{
    width: 40%;
    margin-left: 2%;

}

.inputAddClient h2{
    float: left;
    width: 350px;
}

.submitFormAddClient{
    margin-bottom: 2%;
    width: 20%;
    align-self: center;
    margin-left: -20%;
    background-color: var(--green-color);
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 25px;
    height: 10%;
}