.windowEditClient{
    width: 85%;
}
.listClient{
    white-space : nowrap;
    background-color: var(--grey-color);
    border-radius: 10px;
    height: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    overflow-x: auto;
}
.listClient a{
    margin-top: 2%;
    margin-left: 10%;
    text-align: center;
}

.infoClient{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    height: 70%;
    border-radius: 20px;
    background-color: var(--grey-color);

}
.infoClient form{

}

.infoClient label{
    background-color: var(--green-color);
    height: 40px;
    align-items: center;
    width: 30%;
    margin: 5% 10% 0% 10%;
    display: flex;
    align-self: center;
    border-radius: 20px;
}

.infoClient p{
    color: var(--white-color);
    font-size: 120%;
    width: 35%;
    margin-left: 10px;
}

.infoClient input{
    width: 60%;
}

.infoClientEdit{
    display: flex;
    flex-wrap: wrap;
    height: 325px;
}

.validateButton{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.validateButton input{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border:none;
    font-size: 120%;

}

.submitFormEditClient{
    background-color: var(--green-color);
}


.resetFormEditClient{
    background-color: yellow;
}

.inputEditClient{
    background-color: rgba(1,1,1,0%);
    border: none;
    height: 50px;
}