main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sectionGestionStock{
    margin-top: 10px ;
    background-color: var(--grey-color);
    width: 75%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}

.AllProduct{
    margin :  25px auto 25px auto;
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column;
    width: 90%;
    height: 70%;
    overflow-x: auto;

}

.productContainer{
    text-align: center;
    display: flex;
    background-color: var(--green-color);
    width: auto;
    height: 15%;
    border-radius: 8px;
    margin: 8px;

}

.productContainerTitle{
    display: flex;
    background-color: var(--grey-color);
    width: auto;
    height: 15%;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
}


.refillStock{
    width: 150px;
    margin-right: 50px;
    align-self: end;

}

.ProductName{
    width: 20%;
}


.RefProduct{
    margin-left: 5px;
    width: 17%;
}


.PriceProduct{
    width: 20%;
}

.QteProduct{
    width: 17%;
}

.QteProductMinimum{
    width: 15%;
    margin-left: 10px;
}

.inputrefillStock{
    text-align: center;
    content: unset;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #006600;
    color: #006600;
}

form.selecteur>section{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1%;
    text-align: center;
    width: 101%;
    background-color: var(--green-color);
    border-radius: 25px;
    border: 1px solid var(--white-color);
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    flex-direction: column;
    gap: 25px;
}
form.selecteur {
    display: flex;
    align-items: center;
    align-self: center;
    height: 20%;
    width: 30%;
}

.plusArticle{
    background-color: green;
    color: green;
    border: black solid 1px;
    border-radius: 50%;

    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}
.plusArticle:hover{
    background-color: #006600;
    color: #006600;
    border: white solid 1px;
}


.moinsArticle{
    background-color: red;

    color: red ;
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border : black solid 1px;
}

.moinsArticle:hover{
    background-color: #971e00;
    color: #971e00;
    border: white solid 1px;
}

