main
{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: var(--grey-color);
    text-align: center;
    color: var(--white-color);
    width: 75%;
    padding: 1% 3% 3% 1%;
    border-radius: 25px;
}

form
{
    margin-top: 0px;
    background-color: var(--green-color);
    padding: 2%;
    width: 50%;
    border-radius: 25px;
    border: 1px solid var(--green-color);
}

form>input
{
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
    border-radius: 1px;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    font-size: larger;

}

::-webkit-input-placeholder
{
    color: var(--white-color);
    padding: 1%;
    text-align: center;
}

form:hover
{
    border: 1px solid var(--white-color);
}


.sectionListProduct{
    height: 450px;
    overflow-x: auto;
    width: 50%;
    margin-top: 10px;
}


main>section.button
{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

section.button>button
{
    width: 20%;
    border-radius: 25px;
    color: var(--white-color);
    background-color: var(--green-color);
    padding: 1%;
    border: 1px solid var(--green-color);
}

section.button>button:hover
{
    border: 1px solid var(--white-color);
    text-align: center;
}

article.ligne-product
{
    display: flex;
    padding: 1%;
    height: 50px;



}

article.ligne-product>section
{
    display: flex;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    color: var(--white-color);
    background-color: var(--green-color);
}

article.ligne-product>section>p
{
    padding: 1%;
    width: 30%;
}

article.ligne-product>img
{
    width: 50px;
}

